@()(implicit lang: Lang)

@import play.api.Play
@import play.api.Play.current
@import utils.AppConf
@import views.html.partials._

@defining(Play.configuration) { config =>
@defining(AppConf(config)) { conf =>

<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" data-ng-app="app" data-ng-controller="GBHCtrl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" data-ng-app="app" data-ng-controller="GBHCtrl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" data-ng-app="app" data-ng-controller="GBHCtrl"> <![endif]-->
<!--[if gt IE 8]><!-->
  <html class="no-js" data-ng-app="app" data-ng-controller="GBHCtrl">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="fragment" content="!" />

  <title>GetBackHome</title>

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="@routes.Assets.at("javascripts/vendors/modernizr/modernizr.js")"></script>
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <a class="navbar-brand" href="/">GetBackHome</a>

      <button type="button" class="btn btn-default navbar-btn pull-right" data-ng-click="nextTurn()">FIN DE TOUR</button>
    </div>
  </div>

  <div class="container">
    <div ng-view></div>
  </div>
  
  <!--<script data-main="@routes.Assets.at("javascripts/require-main" + { if (conf.scriptsMin) "-" + conf.version + ".min" else "" } + ".js")" src="@routes.Assets.at("javascripts/vendors/requirejs/require.js")"></script>-->

  @if(conf.scriptsMin) {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main" + conf.version + ".min.js")"></script>
  } else {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/q/q.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/lodash/lodash.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/angular/angular.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/angular/angular-resource.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/restangular/restangular.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/hexjs/tile.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/hexjs/findme.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/utils/Rc4Random.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/utils/perlin_simplex.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/utils/generator.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/utils/util.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/alive/bases.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/alive/groups.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/alive/orders.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/alive/missions.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/alive/newMissionController.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/alive/survivors.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/dead/hordes.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dead/zombies.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/game/engine.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/game/env.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/game/gbhInputOrder.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/game/players.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/game/times.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/gbh/GBHCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/gbh/GBHDisplay.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/gbh/GBHActions.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/gbh/GBHStats.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/map.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/mapController.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/memories.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/memory_items.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/places.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/sprites.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/map/zones.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/gui/GUIMap.js")"></script>
  }

  @if(conf.livereload) {
    <script type="text/javascript" src="http://localhost:35729/livereload.js?snipver=1"></script>
  }

</body>
</html>

}
}
