@()

<div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions">
  <div class="gbh-title">Actions</div>

  <div class="gbh-visible-contents">
    <div ng-hide="selection.zone">Pick a place, fucking bastard!</div>

    <p>{{$log.debug(selection)}}</p>

    <div ng-show="selection.zone">
      <ul>
        <li class="order" ng-repeat="order in orders | ordersAvailable:selection.zone" ng-class="{selected: isOrderSelected(order)}">
          <div class="media" ng-click="selectOrder(order)">
            <div class="pull-left media-object">
              <span ng-class="'icon-' + order.icon"></span>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{order.name}}</h4>
              <div>{{order.description}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div ng-show="selection.order">
      <hr/>

      <form ng-submit="createMission()">
        <div ng-repeat="input in selection.order.value.inputs">
          <gbh-input-order type="input.type" value="selection.order.data[input.name]"></gbh-input-order>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <button type="button" class="btn btn-block btn-danger">Cancel</button>
          </div>
          <div class="col-sm-6">
            <button type="input" class="btn btn-block btn-primary">Add order</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
