@()

<div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions">
  <div class="gbh-title">Actions</div>

  <div class="gbh-visible-contents">
    <div ng-hide="selection.zone">Pick a place, fucking bastard!</div>

    <div ng-show="selection.zone">
      <ul>
        <li class="order" ng-repeat="order in orders | ordersAvailable:selection.zone" ng-class="{selected: isOrderSelected(order)}">
          <div class="media" ng-click="selectOrder(order)">
            <div class="pull-left media-object">
              <span ng-class="'icon-' + order.icon"></span>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{order.name}}</h4>
              <div>{{order.description}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div ng-show="selection.order">
      <hr/>
        <div ng-repeat="input in selection.order.value.inputs">
          <gbh-input-order type="input.type" value="selection.order.data[input.name]"></gbh-input-order>
        </div>

        <button type="button" class="btn btn-block btn-primary" ng-click="addOrder()">Add order</button>
    </div>

    <hr/>

    <div ng-repeat="order in newMission.orders">
      {{ order | json }}
    </div>

    <button type="button" class="btn btn-block btn-primary" ng-click="createMission()">Go go go!</button>

  </div>
</div>
