@()

<div class="game">

  <canvas id="map" class="drawer" width="800px" height="600px"></canvas>
  <br/>
  <input class="zoomer" type="range"  min="10" max="200" ng-model="zoom" ng-change="onZoomChange()" />

  <div>
    <h3>Zone {{gui.selectedZone.x()}} x {{gui.selectedZone.y()}}</h3>
    Infection: {{gui.selectedZone.place.infection()}}<br/>
    Attack: {{gui.selectedZone.place.attack()}}<br/>
    Defense: {{gui.selectedZone.place.defense()}}<br/>
    Food: {{gui.selectedZone.place.food}}<br/>
    Height: {{gui.selectedZone.place.height}}<br/>
    Biome: {{gui.selectedZone.place.biome()}}<br/>
    Secondary type: {{gui.selectedZone.place.type2()}}<br/>
  </div>

</div>
