@()

<div id="ghb-frame-orders" class="gbh-frame gbh-frame-orders">
  <div class="gbh-title">Ordres</div>
  <div class="gbh-visible-contents">
    <div class="gbh-contents">
      <ul class="gbh-content">
        <li data-id="{{mission.id}}" data-ng-repeat="mission in currentPlayer().missions">
          
          Mission #{{mission.id}} ({{mission.status}})
          <button type="button" class="btn btn-default btn-small" ng-click="selectMission(mission)">Display</button>
          <button type="button" class="btn btn-default btn-small" ng-if="mission.isCancelable()" ng-click="mission.cancel()">Annuler</button>
          <span>survivants : {{mission.group.Length()}}</span>,
          <span>tours restants : {{mission.EstimatedTimeToComplete()}}</span>
        </li>
      </ul>

      <div ng-if="selection.mission && !selection.isNewMission">
        <ul class="list-unstyled">
          <li ng-repeat="orderItem in selection.mission.getAllOrders()">
            <span ng-class="'fa fa-' + orderItem.order.icon"></span>
            {{ orderItem.order.name }} ({{ orderItem.targetPlace().x() }} x {{ orderItem.targetPlace().y() }})
          </li>
        </ul>

        <ul class="list-unstyled survivors">
          <li class="survivor" ng-repeat="s in selection.mission.group.survivors">
            @views.html.partials.survivor("s")
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>