@()

<div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions" ng-if="!selection.isNewMission">
  <button type="button" class="btn btn-block btn-primary" ng-click="startNewMission()">Start new mission</button>
</div>

<div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions" ng-if="selection.isNewMission">
  <div class="gbh-title">New mission</div>

  <div class="gbh-visible-contents">
    <div ng-hide="selection.path && selection.path.length">Pick a place before selecting an order.</div>

    <div ng-show="selection.path && selection.path.length">
      <ul>
        <li class="order" ng-repeat="order in orders() | ordersAvailable:selection.zone" ng-class="{selected: isOrderSelected(order)}">
          <div class="media" ng-click="selectOrder(order)">
            <div class="pull-left media-object">
              <span ng-class="'fa fa-' + order.icon"></span>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{order.name}}</h4>
              <div>{{order.description}}</div>
            </div>
          </div>
        </li>
      </ul>
    
      <div ng-show="selection.order">
        <hr/>
        
        <h3>{{ selection.order.order.name }} {{ selection.zone.x() }} x {{ selection.zone.y() }}</h3>

        <div ng-repeat="input in selection.order.value.inputs">
          <gbh-input-order type="input.type" value="selection.order.data[input.name]"></gbh-input-order>
        </div>

          <button type="button" class="btn btn-block btn-primary" ng-click="addOrder()">Add order</button>
      </div>
    </div>

    <hr/>

    <ul class="list-unstyled">
      <li ng-repeat="orderItem in selection.mission.getAllOrders()">
        <span ng-class="'fa fa-' + orderItem.order.icon"></span>
        {{ orderItem.order.name }} ({{ orderItem.targetPlace().x() }} x {{ orderItem.targetPlace().y() }})
      </li>
      <li ng-hide="selection.mission.getAllOrders().length">No orders yet...</li>
    </ul>

    <hr/>

    <ul class="list-unstyled survivors" gbh-selectable="selection.survivors">
      <li class="survivor" ng-repeat="s in selection.base.group.survivors" gbh-selectable-item="s" ng-class="{selected: $gbhSelected}">
        @views.html.partials.survivor("s")
      </li>
    </ul>

    <hr/>

    <button type="button" class="btn btn-block btn-primary" ng-click="sendMission()" ng-disabled="!selection.mission.hasOrders() || !selection.survivors.length">Go go go!</button>
  </div>
</div>
