@()

<div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions">
  <div class="gbh-title">New mission</div>

  <div class="gbh-visible-contents">
    <div ng-hide="selection.zone">Pick a place, fucking bastard!</div>

    <div ng-show="selection.zone">
      <ul>
        <li class="order" ng-repeat="order in orders() | ordersAvailable:selection.zone" ng-class="{selected: isOrderSelected(order)}">
          <div class="media" ng-click="selectOrder(order)">
            <div class="pull-left media-object">
              <span ng-class="'icon-' + order.icon"></span>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{order.name}}</h4>
              <div>{{order.description}}</div>
            </div>
          </div>
        </li>
      </ul>
    
      <div ng-show="selection.order">
        <hr/>
        
        <h3>{{ selection.order.order.name }} {{ selection.zone.x() }} x {{ selection.zone.y() }}</h3>

        <div ng-repeat="input in selection.order.value.inputs">
          <gbh-input-order type="input.type" value="selection.order.data[input.name]"></gbh-input-order>
        </div>

          <button type="button" class="btn btn-block btn-primary" ng-click="addOrder()">Add order</button>
      </div>

      <hr/>

      <ul class="list-unstyled">
        <li ng-repeat="orderItem in newMission.getAllOrders()">
          <span ng-class="'icon-' + orderItem.order.icon"></span>
          {{ orderItem.order.name }} ({{ orderItem.targetPlace().x() }} x {{ orderItem.targetPlace().y() }})
        </li>
        <li ng-hide="newMission.getAllOrders().length">No orders yet...</li>
      </ul>

      <hr/>

      <ul class="list-unstyled survivors">
        <li class="survivor" ng-repeat="s in selection.base.group.survivors">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" ng-src="{{s.avatar}}" alt="{{ s.name }}'s face" ng-if="s.avatar">
              <span ng-class="'media-object icon-3x icon-' + (s.gender ? 'male' : 'female')" ng-if="!s.avatar"></span>
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ s.name }}</h4>
              <p>{{ s.levelToString() }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ 100 * s.percentHealth() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 * s.percentHealth() }}%;">
                  <span class="sr-only">Health {{ 100 * s.percentHealth() }}%</span>
                </div>
              </div>

              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ 100 * s.percentHunger() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 * s.percentHunger() }}%;">
                  <span class="sr-only">Hunger {{ 100 * s.percentHunger() }}%</span>
                </div>
              </div>

              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ 100 * s.percentMental() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 * s.percentMental() }}%;">
                  <span class="sr-only">Mental {{ 100 * s.percentMental() }}%</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6"></div>
          </div>
          
        </li>
      </ul>

      <hr/>

      <button type="button" class="btn btn-block btn-primary" ng-click="sendMission()" ng-disabled="!newMission.hasOrders()">Go go go!</button>

    </div>
  </div>
</div>
