@()

<div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions">
  <div class="gbh-title">New mission</div>

  <div class="gbh-visible-contents">
    <div ng-hide="selection.zone">Pick a place, fucking bastard!</div>

    <div ng-show="selection.zone">
      <ul>
        <li class="order" ng-repeat="order in orders() | ordersAvailable:selection.zone" ng-class="{selected: isOrderSelected(order)}">
          <div class="media" ng-click="selectOrder(order)">
            <div class="pull-left media-object">
              <span ng-class="'icon-' + order.icon"></span>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{order.name}}</h4>
              <div>{{order.description}}</div>
            </div>
          </div>
        </li>
      </ul>
    
      <div ng-show="selection.order">
        <hr/>
        
        <h3>{{ selection.order.order.name }} {{ selection.zone.x() }} x {{ selection.zone.y() }}</h3>

        <div ng-repeat="input in selection.order.value.inputs">
          <gbh-input-order type="input.type" value="selection.order.data[input.name]"></gbh-input-order>
        </div>

          <button type="button" class="btn btn-block btn-primary" ng-click="addOrder()">Add order</button>
      </div>

      <hr/>

      <ul class="list-unstyled">
        <li ng-repeat="orderItem in newMission.allOrders()">
          <span ng-class="'icon-' + orderItem.order.icon"></span>
          {{ orderItem.order.name }} ({{ orderItem.targetPlace().x() }} x {{ orderItem.targetPlace().y() }})
        </li>
        <li ng-hide="newMission.allOrders().length">No orders yet...</li>
      </ul>

      <hr/>

      <ul class="list-unstyled">
        <li ng-repeat="s in selection.base.group.survivors">
          <span ng-class="'icon-' + (s.gender ? 'male' : 'female')"></span>
          {{ s.name }} ({{ s.age }})
        </li>
      </ul>

      <hr/>

      <button type="button" class="btn btn-block btn-primary" ng-click="sendMission()" ng-disabled="!newMission.hasOrders()">Go go go!</button>

    </div>
  </div>
</div>
