@(
  game: com.dohzya.gethomeback.models.Game,
  player: com.dohzya.gethomeback.models.Player
)(implicit lang: Lang)

@import com.dohzya.gethomeback._
@import com.dohzya.gethomeback.libs._
@import com.dohzya.gethomeback.models._
@import com.dohzya.gethomeback.models.ZoneJsonFormatter._
@import play.api.libs.json._

@main() {

    <h1>@Messages("index.welcomeplayer", player.name)</h1>

    <div class="game">

      <canvas id="mainDrawer" class="drawer" height="@(game.dim.height)px" width="@(game.dim.width)px"></canvas>

      <div id="status" class="sidebar">
        <div id="global" class="status">
          <div class="title">@player.name</div>
          <div class="fields">
            <dl>
              <dt>Killed Zombies</dt><dd>3,000</dd>
            </dl>
          </div>
        </div>
        <div id="zones" class="status">
          <div class="title">Zone <span class="number">30</span></div>
          <div class="fields">
            <dl>
              <dt>type</dt><dd>city</dd>
            </dl>
          </div>
        </div>
        <div id="guys" class="status">
          <div class="title">Guy <span class="number">30</span></div>
          <div class="fields">
            <dl>
              <dt>Dis Gail</dt><dd>10 / 150</dd>
            </dl>
          </div>
        </div>
        <div id="cursor" class="status">
          <div class="title"></div>
          <div class="fields"></div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      // <![CDATA[
      $(function(){
          var canvas = document.getElementById("mainDrawer");
          var status = {
              selected: document.getElementById("cursor")
          };
          GetHomeBack.start(
              canvas,
              status,
              {
                  sprites: {
                    src: "@routes.Assets.at("images/sprites.png")",
                    tiles: {
                      cursor: [0, 0, 20, 20],
                      cursorSelected: [20, 0, 20, 20],
                      city: [40, 0, 20, 20],
                      forrest: [0, 20, 20, 20],
                      field: [20, 20, 20, 20],
                      grass: [40, 20, 20, 20],
                    }
                  },
                  zones: [
                      @Html(game.zones.map(Json.toJson(_)).mkString(",\n                      "))
                  ]
              }
          );
      });
      // ]]>
    </script>

}
