@(
  game: com.dohzya.gethomeback.models.Game.Infos,
  player: com.dohzya.gethomeback.models.Player.Infos
)(implicit lang: Lang)

@import com.dohzya.gethomeback._
@import com.dohzya.gethomeback.libs._
@import com.dohzya.gethomeback.models._
@import com.dohzya.gethomeback.models.ZoneJsonFormatter._
@import play.api.libs.json._

@main() {

    <h1>@Messages("index.welcomeplayer", player.name)</h1>

    <div class="game">

      <input id="zoneDims" class="zoomer" type="range"  min="10" max="200" value="50" />

      <canvas id="mainDrawer" class="drawer" width="800px" height="600px"></canvas>

      <div id="status" class="sidebar">
        <div id="global" class="status">
          <div class="title">@player.name</div>
          <div class="fields">
            <dl>
              <dt>Killed Zombies</dt><dd>3,000</dd>
            </dl>
          </div>
        </div>
        <div id="zones" class="status">
          <div class="title">Zone <span class="number">30</span></div>
          <div class="fields">
            <dl>
              <dt>type</dt><dd>city</dd>
            </dl>
          </div>
        </div>
        <div id="guys" class="status">
          <div class="title">Guy <span class="number">30</span></div>
          <div class="fields">
            <dl>
              <dt>Dis Gail</dt><dd>10 / 150</dd>
            </dl>
          </div>
        </div>
        <div id="cursor" class="status">
          <div class="title"></div>
          <div class="fields"></div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      // <![CDATA[
      $(function(){
          var canvas = document.getElementById("mainDrawer");
          var status = {
              selected: document.getElementById("cursor")
          };
          var zoneDims = $("#zoneDims");
          zoneDims.attr("value", GetBackHome.Zone.width);
          zoneDims.change(function(){
            var value = parseInt(zoneDims.attr("value"), 10);

            var centerX = (GetBackHome.drawer.x + GetBackHome.drawer.width/2) / GetBackHome.Zone.width;
            var centerY = (GetBackHome.drawer.y + GetBackHome.drawer.height/2) / GetBackHome.Zone.height;

            GetBackHome.Zone.width = value;
            GetBackHome.Zone.height = value;

            GetBackHome.drawer.x = centerX * GetBackHome.Zone.width - GetBackHome.drawer.width/2;
            GetBackHome.drawer.y = centerY * GetBackHome.Zone.height - GetBackHome.drawer.height/2;

            GetBackHome.drawer.redraw();
          });
          GetBackHome.start(
              canvas,
              status,
              {
                  sprites: {
                    src: "@routes.Assets.at("images/sprites.png")",
                    tiles: {
                      cursor: [0, 0, 20, 20],
                      cursorSelected: [20, 0, 20, 20],

                      city: [52, 0, 52, 52],
                      forrest: [0, 52, 52, 52],
                      field: [104, 0, 52, 52],
                      grass: [104, 52, 52, 52],
                      water: [104, 104, 52, 52],
                      mountains: [52, 104, 52, 52]
                    }
                  },
                  zones: [
                      @Html(game.zones.map(Json.toJson(_)).mkString(",\n                      "))
                  ]
              }
          );
      });
      // ]]>
    </script>

}
