@()(implicit lang: Lang)

@main() {

    <h1>@Messages("index.wellcome")</h1>

    <div class="game">

      <canvas id="mainDrawer" class="drawer" height="600px" width="800px"></canvas>

      <div id="sidebar" class="sidebar">
        <div id="status" class="status">
          <div class="title">Status</div>
          <div class="fields">
            <dl>
              <dt>Zones</dt><dd>30</dd>
            </dl>
            <dl>
              <dt>Guys</dt><dd>30</dd>
            </dl>
            <dl>
              <dt>Items</dt><dd>30</dd>
            </dl>
            <dl>
              <dt>Buildings</dt><dd>30</dd>
            </dl>
          </div>
        </div>
        <div id="zone" class="zone">
          <div class="title">Zone <span class="number">30</span></div>
          <div class="fields">
            <dl>
              <dt>type</dt><dd>city</dd>
            </dl>
          </div>
        </div>
        <div id="guy" class="guy">
          <div class="title">Guy <span class="number">30</span></div>
          <div class="fields"></div>
            <dl>
              <dt>Dis Gail</dt><dd>10 / 150</dd>
            </dl>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      // <![CDATA[
      $(function(){
          var canvas = document.getElementById("mainDrawer");
          GetHomeBack.init(canvas);
          GetHomeBack.start();
      });
      // ]]>
    </script>

}
