@()(implicit lang: Lang)


@templates.default() {

  <div class="row">
    <div class="col-md-8 col-lg-7" ng-controller="MapCtrl">
      <div class="">
        @views.html.partials.map()
      </div>
    </div>
    <div class="col-md-4 col-lg-5">
      <div ng-controller="NewMissionCtrl">
        @views.html.partials.newMission()
      </div>
      <div>
        @views.html.partials.missions()
      </div>
      <div>
        @views.html.partials.messages()
      </div>
      <div>
        @views.html.partials.stats()
      </div>
    </div>
  </div>

}
