@()(implicit lang: Lang)


@templates.default() {
    <div data-id="next-turn" class="btn" data-ng-click="nextTurn()">FIN DE TOUR</div>
    <div class="gbh-frames"><div>

      <div id="ghb-frame-orders" class="gbh-frame gbh-frame-orders">
        <div class="gbh-title">Ordres</div>
        <div class="gbh-contents">
          <div class="gbh-content" data-id="{{order.id}}" data-ng-repeat="order in orders">
            <span>{{order.name}}</span>
            (<span>survivants : {{order.env.survivors}}</span>, <span>tours restants : {{order.turnToComplete}}</span>)
            <div class="btn btn-small" ng-click="cancelOrder({{order.id}})">
              <span>Annuler</span> (<span>1 tour</span>)
            </div>
            <div class="btn btn-small" ng-click="sendBackup({{order.id}})">
              <span>Envoyer du renfort</span> (<span>1 tour</span>)
            </div>
          </div>
        </div>
      </div>
      <div id="ghb-frame-actions" class="gbh-frame gbh-frame-actions">
        <div class="gbh-title">Actions</div>
        <div class="gbh-contents">
          <div>Demander à <input type="number" id="selected" ng-model="selected" ng-change="select()" min="0" required /> survivants de</div>
          <div data-id="{{action.id}}" class="btn gbh-content" ng-click="{{action.id}}()" data-ng-repeat="action in actions">
            <div>{{action.name}}</div>
            <div data-ng-repeat="stat in action.statsList">
              <span>{{stat.name}}</span> : <span>{{stat.value}}{{stat.suffix}}</span>
            </div>
          </div>
        </div>
      </div>
      <div id="ghb-frame-stats" class="gbh-frame gbh-frame-stats">
        <div class="gbh-title">Stats</div>
        <div class="gbh-contents">
          <div data-id="{{stat.id}}" class="gbh-content" data-ng-repeat="stat in stats">
            <div class="gbh-content-label">{{stat.label}}</div>
            <div class="gbh-content-value">{{stat.value}}{{stat.suffix}}</div>
          </div>
        </div>
      </div>
      <div id="ghb-frame-logs" class="gbh-frame gbh-frame-logs">
        <div class="gbh-title">Messages</div>
        <div class="gbh-visible-contents">
          <div class="gbh-contents">
            <div class="gbh-content" data-id="{{log.id}}" data-ng-repeat="log in logs">{{log.msg}}</div>
          </div>
        </div>
      </div>

    </div></div>

}
