@()(content: Html)(implicit lang: Lang)

<!DOCTYPE html>

<html>
    <head>
        <title>Get Home Back!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/drawer.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
