@()(implicit lang: Lang)


@templates.default() {

    <div class="game">

      <canvas id="mainDrawer" class="drawer" width="800px" height="600px"></canvas>
      <br/>
      <input class="zoomer" type="range"  min="10" max="200" ng-model="zoom" ng-change="onZoomChange()" />

      <div ng-repeat="zone in selectedZones">
        <h3>Zone {{zone.x()}} x {{zone.y()}}</h3>
        Infection: {{zone.place.infection}}<br/>
        Biome: {{zone.place.biome()}}<br/>
        Secondary type: {{zone.place.type2()}}<br/>
      </div>

    </div>

}
