// Common settings
.aside {
  position: fixed;
  background-color: white;

  &.is-right {
    top: 0;
    bottom: 0;
  }

  &.is-left {
    top: 0;
    bottom: 0;
  }

  &.is-top {
    left: 0;
    right: 0;
  }

  &.is-bottom {
    left: 0;
    right: 0;
  }
}

.aside-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
}

.aside-grab {
  position: absolute;
}

.aside-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.aside.is-moving .aside-content {
  overflow-y: hidden;
}

.aside.is-right .aside-grab,
.aside.is-left .aside-grab {
  top: 0;
  bottom: 0;
}

.aside.is-top .aside-grab,
.aside.is-bottom .aside-grab {
  left: 0;
  right: 0;
}

// Specific to GBH
.aside.is-bottom .aside-content {
  padding: 15px 70px 15px 15px;
}

.aside.is-moving .aside-grab,
.aside.is-open .aside-grab {
  display: none;
}
